body {
    background-color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navBar{
    width: 100%;
    background: rgb(0, 102, 161);
    font-size: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
}

#headerOne {
    position: absolute;
    top: 50px;
    left: 35%;
    font-size: 28px;
}   
.page-two {
    position: absolute;
    top: 10px;
    left: 70px;
}

.page-one {
    position: absolute;
    top: 10px;
    left: 20px;
}
h1{
    text-align: center;
    position: absolute;
    top: 150px;
    font-size: 50px;
}

h5{
    text-align: center;
    position: absolute;
    left: 300px;
    top: 100px;
}

h3{
    text-align: center;
}

#headerTwo {
    position: absolute;
    top: 80px;
    left: 36%;
    font-size: 25px;
}

ul {
    list-style-type: none;
}

li a {
    color: black;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    float: left;
    padding: 3px;
}

#home{
    position: absolute;
    top: 15px;
    left: 0px;
    width: 100px;
}

#cookieOne{
    position: absolute;
    left: 45px;
    top: 5px;
    width: 200px;
}

#cookieTwo{
    position: absolute;
    top: 5px;
    left: 145px;
    width: 250px;
}

#cookieThree{
    position: absolute;
    top: 5px;
    left: 375px;
    width: 250px;
}

#cookieFour{
    position: absolute;
    top: 5px;
    left: 570px;
    width: 250px;
}

#cookieFive{
    position: absolute;
    top: 5px;
    left: 300px;
}

#cookieSix{
    position: absolute;
    top: 5px;
    left: 300px;
}

li :hover{
    padding: 1px;
    border: 1px solid gray;
}

 

.page-three {
    position: absolute;
    top: 10px;
    left: 0px;
}

.page-four {
    position: absolute;
    left: 0px;
    top: 10px;
}





.structure{
    width: 300px;
    height: 200px;
    position: absolute;
    left: 1100px;
    top: 50px;
}





.cookie-title{
    position:absolute;
    top: 20px;
    left: 500px;
}


.gallery-title {
    position: absolute;
    top: 50px;
    left: 130px;
}
.gallery {
    width: 400px;
    height: 600px;
    position: absolute;
    left: 40px;
    top: 100px;
    display: inline-table;
}

.pic-one {
    width: 40%;
    height: 25%;
}

.pic-two {
    width: 40%;
    height: 25%;
}

.pic-three {
    width: 40%;
    height: 25%;
}

.pic-four {
    width: 40%;
    height: 25%;
}
.pic-five {
    width: 40%;
    height: 25%;
}

.pic-six {
    width: 40%;
    height: 25%;
}

.pic-seven {
    width: 40%;
    height: 25%;
}

.pic-eight {
    width: 40%;
    height: 25%;
}




.pic-one:hover {
    width: 43%;
    height: 25%;
    cursor: pointer;
    border: 1px solid gold;
}

.pic-two:hover {
    width: 43%;
    height: 25%;
    cursor: pointer;
    border: 1px solid gold;
}

.pic-three:hover {
    width: 43%;
    height: 25%;
    cursor: pointer;
    border: 1px solid gold;
}

.pic-four:hover {
    width: 43%;
    height: 25%;
    cursor: pointer;
    border: 1px solid gold;
}
.pic-five:hover {
    width: 43%;
    height: 25%;
    cursor: pointer;
    border: 1px solid gold;
}

.pic-six:hover {
    width: 43%;
    height: 25%;
    cursor: pointer;
    border: 1px solid gold;
}

.pic-seven:hover {
    width: 43%;
    height: 25%;
    cursor: pointer;
    border: 1px solid gold;
}

.pic-eight:hover {
    width: 43%;
    height: 25%;
    cursor: pointer; 
    border: 1px solid gold;
}

.info-about {
    width: 700px;
    height: 800px;
    position: absolute;
    top: 100px;
    left: 400px;
    font-size: 20px;
}

.info-about:hover{
    border: 1px solid gold;

}
.points {
    position: relative;
    left: 600px;
    top: -5px;
}

